.carousel-position-six {
  color: transparent;
  background-color: transparent;
}

.item {
  background-color: white !important;
}

.corporate {
  color: white;
}

.carousel-subtitle-v2 {
  background-color: transparent;
}

